
/* Global reset stylesheet */

/*
Box sizing:
content-box:    Border and padding adds to the size of the element (browser default).
border-box:     Border and padding doesn't add to the size of the element (but subtracts from available internal space).
*/
body, div, img, input, button, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    /* Reset focus outline (if we define our own)  */
    /* outline: 0;*/
}

/**
Remove Firefox-only outline.
*/
*::-moz-focus-inner {
    /*padding: 0;*/
    /*border: 0;*/
}

/**
Remove white-space below images inside anchor tag (as browser tries to position img in line with text).
*/
img {
    vertical-align: top;
}

/**
Generic class for centering text.
*/
.center {
    text-align: center;
}

/**
Generic div for clearing floats.
*/
.clearFloats {
    clear: both;
    width: 0;
    height: 0;
}

