@import views.html.helper.CSRF
@(id: Int)(implicit request: RequestHeader)

@title = @{
	id match {
		case 0 => "New Publisher"
		case _ => "Edit publisher"
	}
}

@head = {
	<link rel="stylesheet" href="@routes.Assets.versioned("css/admin/publisher/edit.css")">
	<script defer src="@routes.Assets.versioned("js/admin/publisher/edit/editMain.js")" type="module"></script>
}

@body = {
	Id recieved: @id

	<h1>@title</h1>
	<div id="formWrapper">
		<form method="post" action="@controllers.admin.routes.PublisherController.add()">
			@CSRF.formField
			<label>
				Name:
				<input type="text" id="name" name="name">
			</label>
			<br>
			@* START: ZONES *@
			<div id="zoneWrapper">
				<h2>Banner Zones</h2>
				<div id="zoneTableWrapper"></div>
				<input type="button" id="zoneAddBBtn" value="+">
			</div>
			@* END: ZONES *@
			<div style="margin-top: 20px;">
				<div style="margin: auto;
					width: fit-content;">
					<input type="submit" value="Create">
					<input type="button" value="Cancel" onclick="location.href = '@controllers.admin.routes.PublisherController.main()'">
				</div>
			</div>
		</form>
	</div>


}

@_main(title)(head)(body)
