@(publisherId: Int)

@title = @{
	publisherId match {
		case 0 => "New Publisher"
		case _ => "Edit Publisher"
	}
}

@submitBtnValue = @{
	publisherId match {
		case 0 => "Create"
		case _ => "Update"
	}
}

@submitBtnDisabled = @{
	publisherId match {
		case 0 => ""
		case _ => "disabled"
	}
}

@head = {
	<link rel="stylesheet" href="@routes.Assets.versioned("css/admin/publisher/edit.css")">
	<script defer src="@routes.Assets.versioned("js/admin/publisher/edit/main.js")" type="module"></script>
	<script>
		const publisherId = @publisherId
		const routes = new Map();
		routes.set("publisherControllerMain", "@controllers.admin.routes.PublisherController.main()")
	</script>
}

@body = {
	<h1>@title</h1>
	<div id="formWrapper">
		<form id="publisherForm">
			<label>
				Name:
				<input type="text" id="publisherNameIpt" name="name">
			</label>
			<br>
			@* START: ZONES *@
			<div id="zoneWrapper">
				<h2>Zones</h2>
				<div id="zoneTableWrapper"></div>
				<input type="button" id="zoneAddBtn" value="+" disabled>
			</div>
			@* END: ZONES *@
			<div style="margin-top: 20px;">
				<div style="margin: auto;	width: fit-content;">
					<input type="submit" value="@submitBtnValue" @submitBtnDisabled>
					<input type="button" value="Cancel" onclick="location.href = '@controllers.admin.routes.PublisherController.main()'">
				</div>
			</div>
		</form>
	</div>
}

@_main(title)(head)(body)
