@()

@title = @{
    "../../../../public/creatives"
}

@head = {
	<link rel="stylesheet" href="@routes.Assets.versioned("css/admin/publisher/main.css")">
	<script defer src="@routes.Assets.versioned("js/admin/publisher/main.js")" type="module"></script>
	<script>
		const routes = new Map();
		routes.set("publisherControllerEdit", "@controllers.admin.routes.PublisherController.edit(0)".slice(0, -1))
	</script>
}

@body = {
	<h1>@title</h1>

	<button style="margin-left: 50px;" onclick="location.href='@controllers.admin.routes.PublisherController.edit(0)'">New Publisher</button>

	<div id="publisherTableWrapper"></div>

}

@_main(title)(head)(body)
