
#formWrapper {
    background-color: transparent;
    border: 1px solid #000000;
    width: fit-content;
    padding: 10px;
}

#zoneWrapper {
    background-color: #eeeeee;
    margin-top: 10px;
    padding: 10px;
}

#zoneWrapper h2 {
    background-color: transparent;
    margin: 0 0 10px 0;
    text-align: center;
}

#zoneTableWrapper table, #zoneTableWrapper table td {
    border: 0;
    padding-left: 0;
    padding-right: 10px;
}

#zoneTableWrapper table input {
    margin: 0;
}

input.zoneRemoveBtn {
    margin-left: 5px;
    padding: 2px 10px;
    font-size: 0.85rem;
}

input#zoneAddBtn {
    margin-left: 0;
}






